!!!  5
%html  
  %head  
    %title My Sinatra Website  
    %script{src: "/javascripts/min.js"}
    %script{src: "/javascripts/script.js"}
  %body  
    %h1 Welcome  
    %p  
    Welcome to my website made with Sinatra and HAML  


%html
