%html  
	%head  
		%title Forms
		%link{rel: "stylesheet", href: "stylesheets/style.sass" }		
		%script{src: "/javascripts/min.js"}
		%script{src: "/javascripts/jquery.maskedinput.js"}
		%script{src: "/javascripts/script.js"}
	%body  
		#pagewrap
			%h1 Welcome  
			%h3 Fill out the form. 
			.form_content
				%h3 Advance Search
				.name
					%input.name{:name => "firstname", :type => "text", :placeholder => "First Name"}
					%input{:name => "lastname", :type => "text", :placeholder => "Last Name"}

				%input.phone{:name => "phone_number", :type => "tel", :placeholder => "Phone Number"}
				%select
					%option{:value => "healthcare"} Healthcare
					%option{:value => "education"} Education
					%option{:value => "it"} IT
					%option{:value => "marketing"} Marketing
					%option{:value => "other"} Other
%html
